@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*
CSS DA INTERFACE GERAL
*/

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1340px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: rgb(158, 158, 158);
}

.button {
    margin-top:40px;
    display: inline-block;
    background-color: #B28756;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding:15px 50px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner {
    height: calc(100vh - 100px); /*para o banner preenher toda a tela, independente do tamanho, considerando o header.*/
    background-color: rgb(39, 38, 38);
    background:linear-gradient(rgba(0,0,0,70%),rgba(0,0,0,70%)), url(../images/icones/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden; /*ignora tudo o que estrapolar o tamanho do banner*/
}

.banner .sliders {
    width: 1000vw; /*considerando 10 slides lado a lado*/
    height: 100%;    
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block; /*para ficar um ao lado do outro e manter as propriedades que forem setadas*/
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 10px;
}

.banner a {
    display: block;
    margin-top: 40px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 35px;
    background-color: #b28756;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-style: none;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 20px;
    height: 20px;
    border: 2px solid #B28756;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;

}

.default {
    padding: 50px 0 50px 0;

}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.default .section-title {
    font-size: 30px;
}

.default .section-desc {
    font-size: 12px;
    color: rgb(167, 165, 165);
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 600;
}

.default .section-body {
    max-width: 1340px;
    margin: auto;
    min-height: 100px;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark {
    background-color: #000
}

.default.dark .section-title,
.default.dark .section-body {
    color: #f7f7f7;
}




/*
CSS DE ÁREAS ESPECÍFICAS
*/

.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
}

.section-aboutus--right {
    width: 550px;
    text-align: center;
}

.section-aboutus--right img {
    width: 450px;
    box-shadow: 0px 5px 10px #333;
}




.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 2px solid #333;
    padding: 15px;
}

.section-service h4 {
    text-transform: uppercase;
    margin-top: 30px;
}

.section-service p {
    color: rgb(167, 165, 165);
    font-size: 13px;
    margin-top: 5px;
}

.section-service:first-child {
    border-left: 2px solid #333;
}




.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid rgb(200, 197, 197);
    background-color: rgba(221, 219, 219, 0.446);
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style-type: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid rgb(200, 197, 197);
    border-bottom: 3px solid rgba(221, 219, 219, 0.446);
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters .active {
    border-bottom: 3px solid #B28756;
}

.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1340px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width:inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.section-projects--photoinfo h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 550;
}

.section-projects--photoinfo p {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display:flex;
}

.bg-team {
    background-image: url('../images/icones/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-teamarea {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px 0 50px 0;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;    
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block; 
    background-color: #fff;
    margin-right: 20px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-teamarea .sliders-pointers {
    height: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-teamarea .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.section-teamarea .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: rgb(63, 63, 63);
    margin-top: 5px
}

.section-team--social {
    display: flex;
    margin-top: 25px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(148, 148, 148);
    border-radius: 15px;
    margin-right: 10px;
}

.section-team--social a:hover,
.section-team--social .active {
    background-color:#B28756;
}

.section-clients {
    display: flex;
    justify-content: center;
}

.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 660px;
}

.section-client-avatar {
    width:150px;
    height:auto;
}

.section-client--name {
    font-weight: bold;
    font-size: 21px; 
    margin-top: 30px;
}

.section-client--role {
    font-weight: 600;
    margin-top: 8px;
}

.quote {
    margin: 30px 0 20px 0;
}

.section-client--text {
    text-align: center;
    color: #999;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.section-clientarea .sliders-pointers {
    height: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-clientarea .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #B28756;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.section-clientarea .pointer.active {
    background-color: #B28756;
}

.parceiros {
    width: 100vw;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.section-allparceiros {
   display: inline-flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   background-color: white;
   width: 1340px;
}

.section-empresa img {
    width: 80px;
    height: auto;
}

.price {
    width: 100vw;
    height: auto;
    background-color: rgba(229, 228, 228, 0.741);
    border-bottom: 1px solid #ccc;
}

.section-price {
    display: flex;
}

.section-price--item {
    background-color: #fff;
    margin-right: 20px;
    text-align: center;
    flex: 1 1 0%;
    padding: 20px;
}

.section-price--item-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.section-price--item-value {
    font-size: 34px;
    font-weight: bold;
    margin-top: 14px;
}

.section-price--item-period {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section-price--item-vantages {
    margin-top: 15px;
    font-size: 15px;
}

.btn-black {
    background-color: rgb(52, 52, 52)
}

.section-premium {
    display: flex;
    max-width: 1340px;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.section-premium--box {
    flex: 1;
    text-align: right;
}

.section-premium--textarea {
    flex: 1;
}

.section-premium--item {
    display: flex;
}

.section-premium--item img {
    width: 35px;
    height: 30px;
}

.section-premium--item div {
    margin-left: 40px;
    margin-bottom: 30px;
}

.section-premium--item div h4 {
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 6px;
}

.section-premium--item div p {
    color: #999;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 3px;
}

.section-premium--item div li {
    list-style-type:disc;
    text-transform: uppercase;
    color: #999;
    margin-left: 20px;
    line-height: 25px;
}

.section-facts {
    display: flex;
    justify-content: space-between;
}

.section-fact {
    flex: 1;
    text-align: center;
    padding: 20px;
    max-width: 285px;
}

.section-fact h3 {
    font-size: 50px;
    color: #B28756;
    font-weight: bold;
}

.section-fact-line {
    width: 25px;
    border-bottom: 3px solid #999;
    margin: auto;
}

.section-fact h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.section-fact p {
    color: #999;
    font-size: 14px;
    margin-top: 30px;
}

.section-share {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.section-share--legend {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.section-share--legend img {
    width: 23px;
    height: 25px;
}

.section-share--legend p {
    font-size: 13px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.section-share--item {
    display: flex;
    text-align: center;
    padding: 10px;
    margin-left: 10px
}

.section-share--item-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.section-share--item-icon.twitter img {
    height: 12px;
}

.section-share--item p {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.section-share--item-icon.twitter {
    background-color: rgb(65, 188, 205);
    cursor: pointer;
}

.section-share--item-icon.facebook {
    background-color: rgb(42, 123, 229);
    cursor: pointer;
}

.section-share--item-icon.linkedin {
    background-color: rgb(55, 95, 189);
    cursor: pointer;
}

.section-share--item-icon.google {
    background-color: red;
    cursor: pointer;
}

.section-share--item-icon.pinterest {
    background-color: rgb(176, 32, 32);
    cursor: pointer;
}

.contact {
    width: 100vw;
 }
 .contact .section-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
 }
 
 .section-input input {
    border: none;
    background-color: #F7F7F7;
    padding-bottom: 5px;
    width: 200px;
 }
 .section-input input::placeholder {
    color: #999;
 }
 
 .input1 {
    display: flex;
    gap: 30px;
 }
 
 .input2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 430px;
 }
 
 .input-border {
    border-bottom: 1px solid #999;
 }

 .section-map {
    background-image: url('../images/icones/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 0 30px 0;
 }

 .section-maparea {
    width: 100vw;
    max-width: 1340px;
    margin: auto;
 }

 .section-mapinfo {
    background-color: #fff;
    color: #000;
    padding: 30px;
    width: 50%
 }

 .section-mapinfo--item {
    display: flex;
    align-items: center;
    color: rgb(62, 62, 62);
    margin-bottom: 20px;
 }

 .section-mapinfo--item-img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #999;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
 }

 .section-mapinfo--item-img img {
    width: 20px;
    height: auto;
 }

 footer {
    background-color: #000;
    padding: 30px;
 }

 .footer-areatotal {
    color: #ccc;
    display: flex;
    max-width: 1340px;
    margin: auto;
 }

 .footer-areamidia,
 .footer-areatext {
    flex: 2;
    display: flex;
 }

 .footer-areaform {
    flex: 1;
 }

 .footer-areamidia--itens {
    margin: 0 auto;
 }

 .footer-areamidia--item {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
 }

 .footer-areamidia--item img {
    height: 13px;
 }

 .footer-areatext {
    font-size: 13px;
    color: #999;
    line-height: 20px;
 }

 .footer-areaform {
    background-color: rgb(61, 61, 61);
    padding: 30px;
    border-radius: 8px;
    margin-left: 50px;
 }

 .footer-areaform form {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin: auto;
 }

 .footer-areaform input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 14px;
    text-align: center;
 }

 .footer-areaform input::placeholder {
    color: #ccc
 }

 button.button {
    border: none;
    width: auto;
 }