@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*
CSS DA INTERFACE GERAL
*/

header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1340px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: rgb(158, 158, 158);
}

.button {
    margin-top:40px;
    display: inline-block;
    background-color: #B28756;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding:15px 50px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/icones/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    height: 100%;
    width: 1000vw;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 12px;
    text-shadow: .1rem .1rem .2rem #000;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 20px;
    height: 20px;
    border: 2px solid #B28756;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;

}

.default {
    padding: 50px 0 50px 0;

}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.default .section-title {
    font-size: 30px;
}

.default .section-desc {
    font-size: 12px;
    color: rgb(167, 165, 165);
    margin-top: 10px;
    margin-bottom: 50px;
}

.default .section-body {
    max-width: 1340px;
    margin: auto;
    min-height: 100px;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark {
    background-color: #000
}

.default.dark .section-title,
.default.dark .section-body {
    color: #f7f7f7;
}




/*
CSS DE ÁREAS ESPECÍFICAS
*/

.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
}

.section-aboutus--right {
    width: 550px;
    text-align: center;
}

.section-aboutus--right img {
    width: 450px;
    box-shadow: 0px 5px 10px #333;
}




.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 2px solid #333;
    padding: 15px;
}

.section-service h4 {
    text-transform: uppercase;
    margin-top: 30px;
}

.section-service p {
    color: rgb(167, 165, 165);
    font-size: 13px;
    margin-top: 5px;
}

.section-service:first-child {
    border-left: 2px solid #333;
}




.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid rgb(200, 197, 197);
    background-color: rgba(221, 219, 219, 0.446);
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style-type: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid rgb(200, 197, 197);
    border-bottom: 3px solid rgba(221, 219, 219, 0.446);
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters .active {
    border-bottom: 3px solid #B28756;
}

.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1340px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width:inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.section-projects--photoinfo h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 550;
}

.section-projects--photoinfo p {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display:flex;
}